$font: "serif";

.date {
    color: #c5c5c5;
    .post & {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 0.9em;
    }
  }

p, a {
    font: { 
      family: $font;
      size: 1.1em;
    }
  }
  
.karma {
    display: flex;
    border: 1px solid black;
    width: 150px;
    background-color: lightgrey;
    div {
        text-align: center;
        width: 50px;
        border: {
            left: 1px solid black;
            right: 1px solid black;
        }
    }
    button {
      width: 50px;
      background-color: lightgrey;
      border: none;
  }
}

.commText {
    button {
        border: none;
        color: blue;
        text-decoration: underline;
        background: none;
    }
}

.post {
    margin: 10px;
    .wrapper {
        display: flex;
    }
    .avatar {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }
    .data {
        display: flex;
        flex-wrap: row;
        width: 100%;
        height: 1.5em;
        .reply, .user{
            margin-right: 20px;
            text-decoration: underline;
            color: blue;
            cursor: pointer;
        }
        .reply {
            margin-left: auto;
            background: none;
            border: none;
        }
    }
}


form {
    div, .submit {
        margin-top: 10px;
    }
    
    #text {
        vertical-align: top;
    }

    label {
        display: inline-block;
        width: 150px;
        margin-right: 50px;
    }

    .submit {
        margin-left: 200px;
        width: 180px;
        height: 2em;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 2px;
        font-weight: bold;
    }
}

.hidden {
    display: none;
}